{% extends "UnisimonPrincipalBundle::layout.html.twig" %}


{% block title "" %}


{% block body -%}
   <div id="header" role="banner">
       <a id="menu-link" class="head-button-link menu-hide" href="#menu"><span>Menu</span></a>
        <a href="{{ path('PrincipalBundle_homepage') }}" class="logo"><h1>SICREN</h1></a>
      </div>  
    <h1>Encuesta list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Fecha de Modificación</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('encuesta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{% if entity.modificado %}{{ entity.modificado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('encuesta_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('encuesta_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('encuesta_new') }}">
               Crear nueva encuesta
            </a>
        </li>
    </ul>
    {% endblock %}
