{% extends "UnisimonPrincipalBundle::layout.html.twig" %}

{% block title "Symfony - Contact form" %}

{% block content %}

{% block body -%}
    <h1>Encuesta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Fecha de Modificación</th>
                <td>{{ entity.modificado|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('encuesta') }}">
           Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('encuesta_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('encuesta_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
    {% endblock %}  
{% endblock %}
    
    
